---
import { Picture } from "astro:assets";
import { getCachedImage } from "../../image_cache";

const { page, css_class = "" } = Astro.props;

const cover = await fetch(`${import.meta.env.PAYLOAD_API_URL}/images/${page.cover}`)

console.log(cover)

const url = await getCachedImage(page.cover);

const images = await import.meta.glob<{ default: ImageMetadata }>(
    "/src/assets/*.{webp,jpeg,jpg,png,gif}",
);
---

<div class={css_class + " block relative overflow-hidden"}>
    <a href=`/${page.slug}`></a>
    <Picture
        src={images[url]()}
        class="opacity-0 transition-opacity duration-100 ease-out"
        onload="this.style.opacity = 1"
        widths={[360, 540, 720, 1200, 1600, cover.width]}
        sizes={`(max-width: 360px) 360px, (max-width: 540px) 540px, (max-width: 720px) 720px, (max-width: 1200px) 1200px, (max-width: 1600px) 1600px, ${upload.width}px`}
        inferSize
        alt={cover.alt || ""}
    />
    <h2
        class="opacity-100 md:opacity-0 group-hover:opacity-100 absolute top-1/2 -translate-y-1/2 text-2xl md:text-4xl z-20 font-display text-white transition-all text-center w-full"
    >
        {page.title}
    </h2>
</div>
